body{
    background-image: url("../Img/fondopage.jpg");
    opacity: var(100px);
}

header h1{
    color: rgb(151, 28, 11);
}

header nav ul li{
    color: rgb(223, 129, 22);
}

header a{
color: coral;
}

header h1{
    color: rgb(151, 28, 11);
}

h2{
color: crimson;
}

section article h3{
color: rgb(119, 7, 73);
}

p { color:chocolate; font-family: Georgia, 'Times New Roman', Times, serif; line-height: 20px;
}

